@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
 box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.sawarabi{
  font-family: "Sawarabi Gothic", sans-serif;
}


/* styles/globals.css */
.input-container {
  position: relative;
  margin-bottom: 1rem;
}

.input-container label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 0.5rem;
  background: transparent;
  color: #6b7280; /* Tailwind gray-700 */
  transform-origin: top left;
  transition: all 0.2s ease-out;
  pointer-events: none;
  transform: translate(0.5rem, 0.5rem) scale(1);
}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  background-color: white;
  margin: 0px 4px;
  transform: translate(0, -0.6rem) scale(0.75);
  color: #3b82f6; /* Tailwind blue-500 */
}

.custom-ui {
  width: 300px; /* Adjust width as needed */
  padding: 16px;
  border-radius: 8px;
}

Link:focus {
  outline: none;
}
